<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Tên phụ kiện</th>
            <th>Mô tả</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <% if (accessories && accessories.length> 0) { %>
            <% accessories.forEach(function(accessory){ %>
                <tr>
                    <td>
                        <%= accessory.name %>
                    </td>
                    <td>
                        <%= accessory.description %>
                    </td>
                    <td class="d-flex gap-2">
                        <a href="/admin/view-accessory/<%= accessory.id %>" class="btn btn-warning btn-sm">Chi tiết &
                            Chỉnh sửa</a>
                        <form action="/admin/delete-accessory/<%= accessory.id %>" method="post">
                            <button class="btn btn-danger btn-sm" type="submit"
                                onclick="return confirm('Bạn có chắc chắn muốn xóa phụ kiện <%= accessory.name %> không?')">Xóa</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="5" class="text-center text-muted">Không có phụ kiện nào</td>
                        </tr>
                        <% } %>
    </tbody>
</table>