<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% if (accessories && accessories.length> 0) { %>
            <% accessories.forEach(function(accessory){ %>
                <tr>
                    <td>
                        <%= accessory.name %>
                    </td>
                    <td>
                        <%= accessory.brand %>
                    </td>
                    <td>
                        <%= accessory.price.toLocaleString('vi-VN') %> VNĐ
                    </td>
                    <td>
                        <%= accessory.stock %>
                    </td>
                    <td class="d-flex gap-2">
                        <a href="/admin/view-accessory/<%= accessory.id %>" class="btn btn-warning btn-sm">View &
                            Edit</a>
                        <form action="/admin/delete-accessory/<%= accessory.id %>" method="post">
                            <button class="btn btn-danger btn-sm" type="submit"
                                onclick="return confirm('Bạn có chắc chắn muốn xóa phụ kiện <%= accessory.name %> không?')">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="5" class="text-center text-muted">Không có phụ kiện nào</td>
                        </tr>
                        <% } %>
    </tbody>
</table>