<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Tên danh mục</th>
            <th>Loại</th>
            <th>Mô tả</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <% if (categories && categories.length> 0) { %>
            <% categories.forEach(function(category){ %>
                <tr>
                    <td>
                        <%= category.name %>
                    </td>
                    <td>
                        <% if (category.type==='device' ) { %>
                            Thiết bị
                            <% } else if (category.type==='accessory' ) { %>
                                Phụ kiện
                                <% } %>
                    </td>
                    <td>
                        <%= category.description %>
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            <form action="/admin/delete-category/<%= category.id %>" method="post">
                                <button class="btn btn-danger btn-sm" type="submit"
                                    onclick="return confirm('Bạn có chắc chắn muốn xóa danh mục <%= category.name %> không?')">
                                    Xóa
                                </button>
                            </form>
                            <form action="/admin/view-category/<%= category.id %>" method="get">
                                <button class="btn btn-warning btn-sm" type="submit">Xem & Sửa</button>
                            </form>

                        </div>
                    </td>
                </tr>
                <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="7" class="text-center text-muted">Không có danh mục nào</td>
                        </tr>
                        <% } %>
    </tbody>
</table>