<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% if (devices && devices.length> 0) { %>
            <% devices.forEach(function(device){ %>
                <tr>
                    <td>
                        <%= device.name %>
                    </td>
                    <td>
                        <%= device.description %>
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            <form action="/admin/delete-device/<%= device.id %>" method="post">
                                <button class="btn btn-danger btn-sm" type="submit"
                                    onclick="return confirm('Bạn có chắc chắn muốn xóa thiết bị <%= device.name %> không?')">
                                    Delete
                                </button>
                            </form>
                            <form action="/admin/view-device/<%= device.id %>" method="get">
                                <button class="btn btn-warning btn-sm" type="submit">View & Edit</button>
                            </form>
                            <!-- <form action="/admin/preview-device/<%= device.id %>" method="get">
                                <button class="btn btn-primary btn-sm" type="submit">Preview (Dev)</button>
                            </form> -->
                        </div>
                    </td>
                </tr>
                <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="5" class="text-center text-muted">Không có thiết bị nào</td>
                        </tr>
                        <% } %>
    </tbody>
</table>