<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Quản lý thiết bị</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="sb-nav-fixed">
    <%- include('../layout/header'); -%>
        <div id="layoutSidenav">
            <%- include('../layout/sidenav'); -%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Quản lý thiết bị</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                                <li class="breadcrumb-item active">Thiết bị</li>
                            </ol>

                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h5>Danh sách thiết bị</h5>
                                <div class="d-flex gap-2">
                                    <a href="/admin/create-device" class="btn btn-warning">Thêm mới thiết bị</a>

                                </div>
                            </div>
                            <hr>
                            <div class="">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <form action="/admin/device" method="GET">
                                            <div class="input-group">
                                                <select name="category" class="form-select"
                                                    onchange="this.form.submit()">
                                                    <option value="">Tất cả thiết bị</option>
                                                    <% deviceCategories.forEach(cat=> { %>
                                                        <option value="<%= cat._id %>"
                                                            <%=selectedCategory===cat._id.toString() ? 'selected' : ''
                                                            %>>
                                                            <%= cat.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <%- include('../layout/deviceTable', { devices: devices }); -%>

                            </div>
                        </div>
                    </main>
                    <%- include('../layout/footer'); -%>
                </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="/admin/js/scripts.js"></script>
</body>

</html>